// General

a,
button,
.btn {
  outline: none !important;
}

.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
//jh.won
.btn-space {
  margin-right:5px;
  height:auto;
  display: inline-block;
}